html, body, div#root {
    height: 100%;
    min-height: 100%;
}

#root > .login-page {
    min-height: 100%;
    height: 100%;
    background: url(../images/bg-login.jpg) no-repeat left center;
    background-size: cover;
    color: #777;
    
    display: grid;
    padding: 0 20px;
}

.login-page .login-wrapper {
    max-width: 750px;
    margin: auto;
}

.login-page .login-wrapper > div {
    border-radius: 10px !important;
    overflow: auto;
}

.login-page .login-left-side {
    background: #f2f2f2;
}

.login-page .login-left-side > div {
    width: 100%;
    height: 100%;
}

.login-page .login-left-side ul {
    padding-left: 1.5rem;
    margin: 0px;
    text-align: left;
}

.login-page .login-left-side ul > li{
    text-align: left;
    line-height: 1rem;
}

.login-page .login-right-side {
    background: #fff;
}

.login-page footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 80;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.29);
    color: #fff;
}

.login-page footer p {
    margin: 0px;
    padding: 0 10px;
}

.login-page h2 {
    color: #777;
    font-size: 20px;
    background: #fafafa;
    border-bottom: 1px solid #f2f2f2;
}

.input-group i.fas{
    color:#666;
}

.loading-bar{
    background: #007bff79 !important;
    position: absolute;
    height: 2px;
}

.bg-transition{
    -webkit-transition: background-color .25s ease-out;
    -moz-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
}

.splitter-bar{
    display: block;
    position: relative;
    text-align: center;
    margin: .5rem 4rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.splitter-bar::before,
.splitter-bar::after{
    content: '';
    position: absolute;
    top: calc(50% + 1px);
    border-bottom: 1px dashed #ccc;
}
.splitter-bar::before{
    left: 10%;
    right: calc(50% + 30px);
}
.splitter-bar::after{
    right: 10%;
    left: calc(50% + 30px);
}

#root > .main-page {
    min-height: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: #fff;
}

.main-page .navbar {
    border-bottom: 3px solid #c9e3ff;
}

.main-page .navbar .nav-item{
    position: relative;
    margin: 0 5px;
}

.main-page .navbar .nav-item > a{
    display: block;
    line-height: 38px;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 10px;
}

.main-page .navbar .nav-item > a.active{
    background: #c9e3ff !important;
    color:#007bff;
}

.main-page .user-info:hover,
.main-page .navbar .nav-item:hover > a{
    background: #eeeeee;
}

.main-page .user-info{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.main-page .user-info.active .dropdown-menu{
    position: absolute;
    display: block;
    top: calc(100% - 2px) !important;
    right: 0;
    padding: 0px;
    bottom: auto;
}

.main-page .user-info.active .dropdown-menu .dropdown-divider{
    margin: 0;
}

.main-page img.avatar-42 {
    height: 42px;
    width: 42px;
    background: #dadada;
    border-radius: 50%;
}

.main-page .card-header > h2{
    font-size:1.3rem;
    margin:0;
}

.main-page .nav .nav-link{
    display: block;
    line-height: 38px;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 10px;
    color:rgba(0,0,0,.5);
    margin-right: 10px;
    cursor: pointer;
}

.main-page .nav .nav-link:hover{
    background: #eeeeee;
    color: rgba(0,0,0,.7);
}

.main-page .nav .nav-link.active{
    background: #c9e3ff !important;
    color:#007bff;
}


.main-page .card-header > h3{
    font-size:1.1rem;
    margin:0;
    color: rgba(0,0,0,.7);
}

.main-page .card-header > h3 + small{
    font-size:.7rem;
    color: rgba(0,0,0,.5);
    font-weight: 500;
}

.main-page .card-body.questions-counter{
    counter-reset: question;
}

.main-page .questions-counter .card-header > h3::before{
    content: '#' counter(question) '. ';
    counter-increment: question;
}

.main-page .question-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 1rem;
    align-items: center;
}
.main-page .question-wrapper img{
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #eaeaea;
    margin-right: 2rem;
    width: 128px;
    height: 128px;
}
.main-page .question-wrapper > div{
    border-left: 1px solid #ccc;
    padding: 1rem 2rem;
}
.main-page .question-wrapper input + label {
    margin-left: .5rem;
}

.main-page .question-box{
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 1rem 1.5rem;
    position: relative;
    border-radius: .5rem;
}
.main-page .question-box.active{
    background-color: #ecf5ff;
    border-color: #056fe0;
}
.main-page .question-box.active::after{
    content: 'Your vote';
    position: absolute;
    top: -20px;
    right: -29px;
    z-index: 1;
    width: 55px;
    height: 55px;
    display: block;
    background-color: #ff9c07;
    border-radius: 50%;
    text-align: center;
    line-height: 1rem;
    padding: .5rem 0;
    border: 2px solid #ffffff;
    color: #fff;
    font-weight: 500;
}
.main-page .question-box + .question-box{
    margin-top: 2rem;
}
.main-page .question-box p{
    margin: 0;
    font-weight: 500;
}
.main-page .question-box .progress-bar{
    background-color: #eaeaea;
    margin-top: 2rem;
    height: 2rem;
    border-radius: .5rem;
}
.main-page .question-box .progress-bar > div{
    background-color: #007bff;
    display: inline-block;
    position: relative;
    width: auto;
    height: 2rem;
    border-radius: .5rem;

    color: white;
    background: repeating-linear-gradient(
        45deg,
        #007bff,
        #007bff 10px,
        #056fe0 10px,
        #056fe0 20px
    );
    
    -webkit-transition: width 1.5s ease-in-out;
    -moz-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}
.main-page .question-box .progress-bar > div > span{
    border-radius: .5rem;
    background-color: #292929;
    display: inline-block;
    padding: .0rem .0rem .05rem;
    width: 40px;
    position: absolute;
    top: -1.5rem;
    right: -22px;
    font-size: .7rem;
}
.main-page .question-box .progress-bar > div > span::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 12px;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #292929;
}
.main-page .question-box label{
    display: block;
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
}

/* LEADERBOARD */
.main-page .leaderborad{
    counter-reset: item;
}
.main-page .leaderboard-card {
    position: relative;
}

.main-page .leaderboard-card + .leaderboard-card {
    margin-top: 1rem;
}

.main-page .leaderboard-wrapper{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 1rem;
    align-items: center;
}
.main-page .leaderboard-wrapper img{
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #eaeaea;
    width: 128px;
    height: 128px;
}
.main-page .leaderboard-wrapper .leaderboard-body{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1rem 2rem;
    margin: 0 2rem;
}

.main-page .leaderboard-wrapper h4::before{
    content: '#' counter(item) ' ';
    counter-increment: item;
    font-size: 1rem;
    color: #007bff;
}

.main-page .leaderboard-wrapper .leaderboard-info{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .5rem 0;
}

.main-page .leaderboard-wrapper .leaderboard-info + .leaderboard-info{
    border-top: 1px solid #eaeaea;
}

.main-page .leaderboard-wrapper .leaderboard-info > p {
    margin: 0;
}

.main-page .leaderboard-wrapper .card {
    text-align: center;
}

.main-page .leaderboard-wrapper .total-score {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: calc(3rem - 3px);
    border-radius: 2.5rem;
    font-size: 1.5rem;
    background: #c9e3ff;
    color: #007bff;
    margin: 0 1rem;
}

.leaderboard-card:nth-of-type(1)::before,
.leaderboard-card:nth-of-type(2)::before,
.leaderboard-card:nth-of-type(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 90px solid #f7f7f7;
    border-right: 90px solid transparent;
}
.leaderboard-card:nth-of-type(1)::after,
.leaderboard-card:nth-of-type(2)::after,
.leaderboard-card:nth-of-type(3)::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f091";
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 2rem;
}

.leaderboard-card:nth-of-type(1)::after {
    color: #ffd400;
}
.leaderboard-card:nth-of-type(2)::after {
    color: #b9b9b9;
}
.leaderboard-card:nth-of-type(3)::after {
    color: #d87814;
}


/* PAGE 404 */
.main-page .page-404-title{
    color:#c9e3ff;
}
.main-page .page-404-title > h2{
    font-size: 4rem;
}
.main-page .page-404-title > p:first-of-type{
    font-size: 1.8rem;
    margin: 0;
}
.main-page .page-404-title > p:last-of-type{
    font-size: 1.3rem;
    margin: 0;
}
.main-page .page-404-body{
    color:#c9e3ff;
    padding: 3rem;
}
.main-page .page-404-body > i{
    opacity: 0.8;
    font-size: 8rem;
    border-radius: 50%;
    border: 5px solid #c9e3ff;
    width: 200px;
    height: 200px;
    line-height: 12rem;
}