html, body, div#root {
    height: 100%;
    min-height: 100%;
}

#root > .login-page {
    min-height: 100%;
    height: 100%;
    background: url(../images/bg-login.jpg) no-repeat left center;
    background-size: cover;
    color: #777;
    
    display: grid;
    padding: 0 20px;
}

.login-page .login-wrapper {
    max-width: 750px;
    margin: auto;
}

.login-page .login-wrapper > div {
    border-radius: 10px !important;
    overflow: auto;
}

.login-page .login-left-side {
    background: #f2f2f2;
}

.login-page .login-left-side > div {
    width: 100%;
    height: 100%;
}

.login-page .login-left-side ul {
    padding-left: 1.5rem;
    margin: 0px;
    text-align: left;
}

.login-page .login-left-side ul > li{
    text-align: left;
    line-height: 1rem;
}

.login-page .login-right-side {
    background: #fff;
}

.login-page footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 80;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.29);
    color: #fff;
}

.login-page footer p {
    margin: 0px;
    padding: 0 10px;
}

.login-page h2 {
    color: #777;
    font-size: 20px;
    background: #fafafa;
    border-bottom: 1px solid #f2f2f2;
}

.input-group i.fas{
    color:#666;
}

.loading-bar{
    background: #007bff79 !important;
    position: absolute;
    height: 2px;
}

#root > .main-page {
    min-height: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: #fff;
}

.main-page .navbar {
    border-bottom: 3px solid #c9e3ff;
}

.main-page .navbar .nav-item{
    position: relative;
    margin: 0 5px;
}

.main-page .navbar .nav-item > a{
    display: block;
    line-height: 38px;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 10px;
}

.main-page .navbar .nav-item > a.active{
    background: #c9e3ff !important;
    color:#007bff;
}

.main-page .user-info:hover,
.main-page .navbar .nav-item:hover > a{
    background: #eeeeee;
}

.main-page .user-info{
    padding: 5px 10px;
    border-radius: 5px;
}

.main-page .user-info.active .dropdown-menu{
    position: absolute;
    display: block;
    top: calc(100% - 2px) !important;
    right: 0;
    padding: 0px;
    bottom: auto;
}

.main-page .user-info.active .dropdown-menu .dropdown-divider{
    margin: 0;
}

.main-page img.avatar-42 {
    height: 42px;
    width: 42px;
    background: #dadada;
    border-radius: 50%;
}

.main-page .card-header > h2{
    font-size:1.3rem;
    margin:0;
}

.main-page .nav .nav-link{
    display: block;
    line-height: 38px;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 10px;
    color:rgba(0,0,0,.5);
    margin-right: 10px;
    cursor: pointer;
}

.main-page .nav .nav-link:hover{
    background: #eeeeee;
    color: rgba(0,0,0,.7);
}

.main-page .nav .nav-link.active{
    background: #c9e3ff !important;
    color:#007bff;
}


.main-page .card-header > h3{
    font-size:1.1rem;
    margin:0;
    color: rgba(0,0,0,.7);
}

.main-page .card-body.questions-counter{
    counter-reset: question;
}

.main-page .card-header > h3::before{
    content: '#' counter(question) '. ';
    counter-increment: question;
}

.main-page .question-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 1rem;
    align-items: center;
}
.main-page .question-wrapper img{
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #eaeaea;
    margin-right: 2rem;
    width: 128px;
    height: 128px;
}
.main-page .question-wrapper > div{
    border-left: 1px solid #ccc;
    padding: 1rem 2rem;
}
.main-page .question-wrapper input + label {
    margin-left: .5rem;
}